@import "../variables";


.form-group {
    position: relative;
    margin-bottom: 2em;
}

.form-group label {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    color: $color-content;
    padding: 0 0 5px 5px;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 0.03em;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

.form-group input[type='text'],
.form-group input[type='password'],
.form-group input[type='email'],
.form-group input[type='tel'],
.form-group input[type='number'],
.form-group input[type='time'],
.form-group input[type='date'],
.form-group input[type='datetime'],
.form-group input[type='datetime-local'],
.form-group input[type='week'],
.form-group input[type='month'],
.form-group input[type='year'],
.form-group input[type='url'],
.form-group input[type='color'] {
    font-family: "Helvetica Neue", Helvetica, Arial,  Calibri, sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    color: $color-content;
    display: block;
    width: calc(100%);
    border: 1px solid $color-content;
    padding: 8px 15px;
    border-radius: 3px;
    transition: all 100ms ease-out;

    &:focus{
        border: 1px solid $color-primary-attention;
    }

    &::placeholder {
        color: $color-content-muted;
        opacity: 1; /* Firefox */
    }

    &:disabled {
        cursor: not-allowed;
        background: $color-background-alt;
        border: 1px solid #ddd;


        &::placeholder {
            color: #ddd;
            opacity: 1; /* Firefox */
        }
    }
}


div.checkbox,
div.radio{
    margin: 10px 0;
    position: relative;
}

div.checkbox input[type=checkbox],
div.radio input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
}

div.checkbox input[type=checkbox] + label,
div.radio input[type=radio] + label{
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: pointer;
}

div.checkbox input[type=checkbox]:disabled + label,
div.radio input[type=radio]:disabled + label{
    cursor: not-allowed;
}

div.checkbox input[type=checkbox] + label:before {
    content: '';
    position: relative;
    vertical-align: middle;
    width: 22px;
    height: 20px;
    border-radius: 3px;
    bottom: 1px;
    margin-right: 5px;
    background-color: $color-background;
    border: 1px solid $color-content;
    display: inline-block;
    transition: all 100ms ease-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

div.checkbox:hover input[type=checkbox] + label:before {
    border: 1px solid $color-primary-attention;
}

div.checkbox input[type=checkbox]:checked + label:before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyMnB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAyMiAyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiPjxwYXRoIGQ9Ik03LjUsMTMuNSBMMTQuNTcxMDY3OCw2LjQyODkzMjE5IiBpZD0iTGluZSIgc3Ryb2tlPSIjMzMzMzMzIiBzdHJva2Utd2lkdGg9IjMiPjwvcGF0aD48cGF0aCBkPSJNNy41LDYuNSBMMTQuNTcxMDY3OCwxMy41NzEwNjc4IiBpZD0iTGluZSIgc3Ryb2tlPSIjMzMzMzMzIiBzdHJva2Utd2lkdGg9IjMiPjwvcGF0aD48L2c+PC9zdmc+);
}

div.checkbox input[type=checkbox]:disabled + label:before {
    background-color: $color-background-alt;
    border: 1px solid #ddd;
}


div.radio input[type=radio] + label:before {
    position: relative;
    top: 3.5px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    z-index: 1;
    content: '';
    background-color: $color-background;
    border:1px solid $color-content;
    display: inline-block;
    border-radius: 20px;
    transition: all 100ms ease-out;
}

div.radio:hover input[type=radio] + label:before {
    border: 1px solid $color-primary-attention;
}

div.radio input[type=radio]:checked + label:before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyMHB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAyMCAyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGlkPSJPdmFsIiBmaWxsPSIjMzMzMzMzIiBjeD0iMTAiIGN5PSIxMCIgcj0iNyI+PC9jaXJjbGU+PC9nPjwvc3ZnPg==);
    background-position: center;
    background-repeat: no-repeat;
}
div.radio input[type=radio]:disabled + label:before {
    background-color: $color-background-alt;
    border: 1px solid #ddd;
}

.form-group textarea{
    font-family: "Helvetica Neue", Helvetica, Arial,  Calibri, sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    color: $color-content;
    display: block;
    width: calc(100%);
    border: 1px solid $color-content;
    padding: 13px 15px 13px;
    transition: all 100ms ease-out;
    border-radius: 3px;

    &::placeholder {
        color: $color-content-muted;
        opacity: 1; /* Firefox */
    }

    &:focus {
        border: 1px solid $color-primary-attention;
    }
}
