@import "../variables";

.container{
    display: block;
    position: relative;
    padding: $whitespace-default-vertical $whitespace-default-horizontal;
    margin: 0 auto;
}

.max-width-wide{
    max-width: 60em;
}